/Library

/obj
/*.unityproj
/*.unityproj
/*.unityproj
/*.unityproj
/*.unityproj
/*.unityproj
/*.sln
/*.userprefs
/*.sln
/*.csproj
/*.csproj
/*.csproj
/*.csproj
/*.csproj
/*.csproj
/*.sln
/*.suo
/Temp
/*.csproj
/*.unityproj
/*.sln
/*.suo

/Build

.consulo

# Unity
Assets/UnityVS
Assets/UnityVS.meta
*.DotSettings
